@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor_primaria: #1B262C;
    --cor_secundaria: #BBE1FA;
    --cor_terciaria: #3282B8;
    --cor_hover:#0F4C75;
    --cor_back_text: #0F4C75;

    --font_primaria: 'KoHo', sans-serif;
    --font_secundaria: 'JetBrains Mono', sans-serif;
}


body{
    background-color: var(--cor_primaria);
    color: var(--cor_secundaria);
}

.menu__botoes{
    display: flex;
    gap: 14px;
    padding: 2% 0 0 42.6%;
}

.botoes{
    width: 150px;
    background-color: var(--cor_terciaria);
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 3%;
    color: var(--cor_primaria);
    text-align: center;
    font-family: var(--font_primaria);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.botoes:hover{
    background-color: var(--cor_hover);
    color: var(--cor_terciaria);
}

.apresentacao, .formacao_e_certificados, .experiencias{
    padding: 0% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}

/*#apresentacao{
    font-family: var(--font_secundaria);
    font-size: 15px;
}*/

h1{
    padding-bottom: 12px;
    color: var(--cor_terciaria);
}

.apresentacao_conteudo{
    font-size: 20px;
    font-family: var(--font_primaria);
    padding: 4%;
}

.resumo, p{
    margin: auto;
    padding-bottom: 14px;
}

.formacao_e_certificados__conteudo, .experiencias__conteudo {
    background-color: var(--cor_back_text);
    border-radius: 45px;
    text-align: left;
    font-family: var(--font_secundaria);
    font-size: 15px;
    padding: 2% 3% 6% 6%;
}

.titulo_formacao, .exp_titulo{
    text-align: center;
}

.links_apresentacao{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.links_apresentacao__link{
    display: flex;
    justify-content: center;
    gap:15px;
    border: 2px solid var(--cor_terciaria);
    width: 320px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21px 0;
    text-decoration: none;
    color:var(--cor_secundaria);
    font-family: var(--font_primaria);
}

.links_apresentacao__link:hover{
    background-color: var(--cor_hover);
}

.rodape{
    background-color: var(--cor_terciaria);
    padding: 16px 0;
    color: var(--cor_hover);
    text-align: center;
    margin-top: auto;
   /* margin-top: 19%;*/
}